*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.8px;
    background-color:#fff;
    color: #3e555e;
}

/* navbar */
#mainNavbar {
    font-size: 0.9rem;
    font-weight: 100;
    margin:0;
    padding:0;
    position: absolute;
}

#mainNavbar .navbar-brand {
    color: #7295bd;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: #f2f2f2;
}

.nav-item .nav-link {
    margin-right: 13px;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    background-color:	#ed6367;
 }


.navbar.scrolled {
    background-color: #464944;
    transition:backgrond 3500ms;
} 

@media only screen and (max-width: 896px) {
  #mainNavbar {
    font-size: 0.7em;
    padding: 0;
  }

}




/* carousel */
.carousel-item {
	height:800px;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);

}

.carousel-image-1{
	background: url('./img/mountain.jpg');
	background-size: cover;
}
.carousel-image-2{
	background: url('./img/woman_macbook.jpg');
	background-size: cover;
}
.carousel-image-3{
	background: url('./img/city.jpg');
	background-size: cover;
}

@-webkit-keyframes zoom {
	from {
	  -webkit-transform: scale(1, 1);
	}
	to {
	  -webkit-transform: scale(1.5, 1.5);
	}
  }
  
  @keyframes zoom {
	from {
	  transform: scale(1, 1);
	}
	to {
	  transform: scale(1.5, 1.5);
	}
  }
  
  .carousel-inner .carousel-item {
	-webkit-animation: zoom 20s;
	animation: zoom 20s;
  }

.carousel-caption {
  top: 300px;
  left: 0;
  text-transform: uppercase;
}

  .carousel-caption h3 {
    font-size: 40px;
    font-weight: 600;
    color: 	#f2f2f2; 
  }

/* about */
#about, #skills, #services, #works, #contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

#about h1 {
  font-size: 35px;
  font-weight: 600;
}

hr {
  height: 3px;
  width: 200px;
  background: linear-gradient(to right, white, #527f9e);
  margin-bottom: 40px;
}

#about .typewrite {
  color: #ed6367;
  text-decoration: none;
  font-weight: 700;
}

/* skills */
#skills {
 background: 	#f2f2f2;
}
#skills #progress .progress-bar {
  background-color: #fba58b;
  height: 15px;
}

/* services */
#services {
  background: 
}
/* work */
#works {
  background:	#e6edf6;
}
/* contact */
/* footer  */
  #footer {
    background: #2d4f78;
    color: #71a9cc;
  }




